@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0.05em;
}

.first-page {
  min-width: 1366px;
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  cursor: default;
}

.container-background {
  background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.first-section {
  padding-top: 34px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 115px;
}

header img {
  cursor: pointer;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.first-section__header {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 300;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}

.first-section__paragraph {
  margin-bottom: 71px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;

opacity: 0.6;
}

.first-button {
  width: 220px;
  height: 56px;
  color: #FFFFFF;
  border: none;
  background: #5A98D0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
}

.first-section__image {
  position: absolute;
  right: -20px;
  bottom: -120px;
}

.container-background {
  margin-bottom: 64px;
  height: 768px;
}

.second-section {
  min-height: 715px;
}

.second-section__header {
  margin: 0;
  margin-bottom: 64px;
  text-align: center;
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  color: #000000;
}

.second-section__rectangles-wrapper {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.rectangle {
  width: 359px;
  height: 480px;
  background: #FFFFFF;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  padding-top: 44px;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 51px;
}

.rectangle-image_correction {
  transform: translateX(-25px);
}

.rectangle-content {
  padding-left: 50px;
}

.rectangle-header {
  margin: 0;
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #1F3F68;
}

.rectangle-text {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #1F3F68;
  opacity: 0.6;
}

.third-section__header {
  text-align: center;
  margin-bottom: 32px;
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  color: #000000;
}

.third-section__text {
  text-align: center;
  margin-bottom: 64px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #222222;
}

.third-section__image {
  position: relative;
  margin-bottom: 32px;
}

.third-section__two-images {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 112px;
}

.third-section__titel {
  font-size: 32px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  position: absolute;
  right: 75px;
  top: 60px;
}

.left-image h3 {
  font-size: 32px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 28px;
  line-height: 46px;
  position: absolute;
  left: 15px;
  top: 40px
}

.rigt-image h3 {
  font-size: 32px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 28px;
  line-height: 46px;
  position: absolute;
  left: 850px;
  top: 40px;
}

footer {
  background-color: #316099;
  min-height: 657px;
  color: #FFFFFF;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 91px;
  margin-bottom: 96px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-title {
  font-size: 36px;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  color: #FFFFFF;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  opacity: 0.6;
}

.footer-button {
  display: flex;
  align-items: center;
}

.footer-button button {
  background-color: #5A98D0;
  color: #FFFFFF;
  border: none;
  padding: 15px 80px;
  cursor: pointer;
}

.horisontal-line {
  border: none;
  border-top: 1px solid #83a0c2;
  margin-bottom: 64px;
}

.contacts {
  display: flex;
  gap: 195px;
  margin-bottom: 64px;
}

.contacts-element {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.contacts-element span {
  margin-right: 19px;
}

.contacts-element:first-child{
  display: flex;
}

.all-rights-reserved {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #83a0c2;
}

@media (max-width: 768px) {
  
  .first-page {
    min-width: 768px;
    margin-left: 0 auto;
  }

  .first-section {
    padding-top: 52px;
  }

  .container {
    max-width: 704px;
    margin: 0 auto;
  }

  header {
    margin-bottom: 120px;
  }

  .content-wrapper {
    margin-bottom: 64px;
  }

  .first-button {
    margin-bottom: 190px;
  }

  .first-section__image {
    height: 300px;
    position: absolute;
    right: 10px;
    bottom: 135px;
  }

  .second-section__rectangles-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 127px;
  }

  .third-section__image img {
    object-fit: cover;
  }

}

